<?xml version="1.0"?>
<ruleset name="PushWP">
    <description>WordPress Coding Standards for PushWP.</description>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="s"/>

    <file>.</file>

    <exclude-pattern>/vendor/*</exclude-pattern>
    <exclude-pattern>/tests/*</exclude-pattern>

    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName"/>
    </rule>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="pushwp"/>
            </property>
        </properties>
    </rule>

    <config name="minimum_supported_wp_version" value="6.5"/>
    <config name="testVersion" value="8.0-"/>
</ruleset>
